:root {
    --bgcolor: #f2f4f5;
    --component: #0f5257;
    --text: #110b11;
    --menulistbg: #d3d3d3;
}

table td {
    border: 3px solid var(--component);
}

/* ===========================================================================
This is for mobile phone 
===============================================================================*/
@media (max-width: 768px) {

    /* This container style is for mobile screen */
    .container .row .col {
        position: relative;
        background-color: var(--component);
        top: 200px;
        left: 10px;
        width: 95%;
        height: 500px;
        margin: 10px;
        border-radius: 10px;
    }
    .container .row .container-image{
        position: relative;
        width: 90%;
    }
    .container .row a{
        color: var(--bgcolor);
        text-decoration: none;
    }
    #thread4 {
        display: block;
        border-style: solid;
        border-width: 5px;
        color: red;
    }

    /* Full navbar  */
    nav {
        background-color: var(--component);
    }

    /* Navbar inside brand name */
    div .navbar-brand {
        color: var(--bgcolor);
        font-size: 24px;
    }

    div .navbar-brand:hover {
        color: var(--bgcolor);
    }

    /* The toggle button color changed  */
    #navbar-toggler {
        background-color: var(--bgcolor);
    }

    span #navbar-toggler-icon {
        background-color: #0f5257;
    }

    /* After clicking the toggle button the offcanvas title color change */
    .offcanvas-title {
        color: var(--component);
    }

    /* Offcanvas menu */
    .nav-item a {
        border-radius: 5px;
        margin: 2px;
        text-align: left;
    }

    .nav-item a:hover {
        background-color: var(--component);
        color: var(--bgcolor);
        transition: all 0.5s;
        transform: translate(4px);
    }

    .nav-item .nav-link {
        font-size: 18px;
        padding-left: 20px;
        color: var(--component);
    }

    /* Body position */
    body {
        position: absolute;
        width: 100%;
        background-color: yellow;
        user-select: none;
    }

    /* inside the body tag the content  */
    .body-content {
        background-color: var(--bgcolor);
        position: relative;
        overflow-x: scroll;
        /* The x-axis is set to scrollable*/
        overflow-y: hidden;
        /* The y-axis is not scrollable it is hidden*/
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        bottom: -80px;
        left: 22px;
        margin: 0;
        padding: 0;
        touch-action: pan-x;
        /* This will block the body content x-axis scrollable */
        touch-action: pan-y;
        /* This will block the body content y-axis scrollable */
    }

    /* For all the titles */
    body h1 {
        color: #0f5257;
        font-size: 34px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body p {
        position: relative;
        width: 95%;
        left: 10px;
        text-align: justify;
    }

    /* All images in the body tag fits to the below size */
    img {
        border: 2px solid var(--component);
        border-radius: 7px;
        position: relative;
        width: 90%;
        height: 100%;
        left: 18px;
    }

    img:hover {
        transition: all 0.5s;
        width: 92%;
    }

    .prev-next a {
        padding-left: 19px;
        padding-right: 19px;
        color: var(--bgcolor);
        background-color: var(--component);
        border: 2px solid var(--component);
        border-radius: 5px;
    }

    .prev-next a:hover {
        background-color: var(--bgcolor);
        color: var(--component);
        transition: all 0.5s;
    }

    .prev {
        float: left !important;
    }

    .next {
        float: right !important;
    }

    .btns {
        padding: 8px 16px;
        text-decoration: none;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }
}

/* ===============================================================================
This is for larger screen 
===================================================================================*/
@media (min-width: 768px) {

    /* The nav bar fully changes and toggle will hide */
    nav {
        background-color: var(--component);
        display: flex;
    }

    /* Navbar inside brand name */
    div .navbar-brand {
        color: var(--bgcolor);
        font-size: x-large;
    }

    div .navbar-brand:hover {
        color: var(--bgcolor);
    }

    /* This class will hide the toggle button in larger screen */
    #navbar-toggler {
        background-color: var(--bgcolor);
    }

    body {
        width: 100%;
    }

    .body-content {
        background-color: var(--bgcolor);
        position: relative;
        overflow-x: scroll;
        /* The x-axis is set to scrollable*/
        overflow-y: hidden;
        /* The y-axis is not scrollable it is hidden*/
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 95%;
        left: 20px;
        bottom: -80px;
        margin: 0;
        padding: 0;
        touch-action: pan-x;
        /* This will block the body content x-axis scrollable */
        touch-action: pan-y;
        /* This will block the body content y-axis scrollable */
    }

    /* For all the titles */
    body h1 {
        color: #0f5257;
        font-size: 34px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body p {
        width: 95%;
        text-align: justify;
    }

    /* All images in the body tag fits to the below size */
    img {
        border: 2px solid #9e15c4;
        border-radius: 7px;
        position: relative;
        width: 90%;
        height: 100%;
        left: 18px;
    }

    img:hover {
        transition: all 0.5s;
        width: 92%;
    }

    .prev-next a {
        padding-left: 19px;
        padding-right: 19px;
        color: var(--bgcolor);
        background-color: var(--component);
        border: 2px solid var(--component);
        border-radius: 5px;
    }

    .prev-next a:hover {
        background-color: var(--bgcolor);
        color: var(--component);
        transition: all 0.5s;
    }

    .prev {
        float: left !important;
    }

    .next {
        float: right !important;
    }

    .btns {
        padding: 8px 16px;
        text-decoration: none;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }
}

/* ===============================================================================
This is for larger screen more than laptop
===================================================================================*/
@media (min-width: 992px) {

    /* The nav bar fully changes and toggle will hide */
    nav {
        background-color: var(--component);
        display: flex;
    }

    /* Navbar inside brand name */
    div .navbar-brand {
        color: var(--bgcolor);
        font-size: x-large;
    }

    div .navbar-brand:hover {
        color: var(--bgcolor);
    }

    /* This class will hide the toggle button in larger screen */
    #navbar-toggler {
        background-color: var(--bgcolor);
    }

    body {
        width: 100%;
    }

    .body-content {
        background-color: var(--bgcolor);
        position: relative;
        overflow-x: scroll;
        /* The x-axis is set to scrollable*/
        overflow-y: hidden;
        /* The y-axis is not scrollable it is hidden*/
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 95%;
        left: 20px;
        bottom: -80px;
        margin: 0;
        padding: 0;
        touch-action: pan-x;
        /* This will block the body content x-axis scrollable */
        touch-action: pan-y;
        /* This will block the body content y-axis scrollable */
    }

    /* For all the titles */
    body h1 {
        color: #0f5257;
        font-size: 34px;
        font-weight: 500;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    body p {
        width: 95%;
        text-align: justify;
    }

    /* All images in the body tag fits to the below size */
    img {
        border: 2px solid #9e15c4;
        border-radius: 7px;
        position: relative;
        width: 90%;
        height: 100%;
        left: 18px;
    }

    img:hover {
        transition: all 0.5s;
        width: 92%;
    }

    div .prev-next {}

    div .prev {
        background-color: var(--component);
        padding: 7px 14px;
        margin: 10px;
        border-radius: 5px;
        color: var(--bgcolor);
        text-decoration: none;
    }

    div .next {
        background-color: var(--component);
        padding: 7px 14px;
        margin-left: 300px;
        border-radius: 5px;
        color: var(--bgcolor);
        text-decoration: none;
    }
}