/* :root is used to define the variable and it can to set globally to access */
:root {
    --bgcolor: #f2f4f5;
    --component: #0f5257;
    --text: #110b11;
    --menulistbg: #d3d3d3;
}

/* ===============================================================================
This media query is for smaller screen less than the tablet like mobile 
===================================================================================*/
@media (max-width: 768px) {
    .offcanvas-title{
        color: var(--component);
    }
}
@media (min-width: 768px) {
    .navbar-toggler{
        display: none;
    }
}
