<!-- bootstrap style -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />

<style>
    #navbar {
        width: fit-content;
        border-radius: 10px;
        padding: 10px;
        position: fixed;
        top: 130px;

        /*Flex layout*/
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #list {
        margin: 0;
        padding: 0;

        /*Calculate the max-height and set overflow hidden*/
        overflow: hidden;
        max-height: 73px;
    }

    .item {
        color: #333;
        font-size: 30px;
        font-weight: bold;
        display: inline-block;
        padding: 10px 30px;
        border-radius: 5px;
        margin: 4px 2px;
        list-style-type: none;

        /*Move text-align center to here*/
        text-align: center;

        /*Remove flex layout & add display inline-block*/
        display: inline-block;

    }
</style>

<div id="navbar">
    <ul id="list">
        <li class="item">item 1</li>
        <li class="item">item 2</li>
        <li class="item">item 3</li>
        <li class="item">item 4</li>
        <li class="item">item 5</li>
        <li class="item">item 6</li>
        <li class="item">item 7</li>

    </ul>
</div>
<script>
    let list = $("#list");
    let listItems = $("#list .item");

    $(window).resize(function () {
        let listPosition = list.position().top;
        let hiddenItems = listItems.filter(function () {
            return $(this).position().top - listPosition > 0;
        }).clone();
    });
</script>